# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor folders and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js
.next/
out/
build/

# Vite
# vite v3+ uses 'dist' for build output by default
# if you use a different build directory, update it here

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# TypeScript
*.tsbuildinfo

# Playwright
playwright-report/
test-results/
