@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0a0a;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-crimson-500 {
    color: #dc143c;
  }
}
